# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/front-end/node_modules

# testing
/front-end/coverage

# production
/front-end/build

# misc
/front-end/.DS_Store
/front-end/.env
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

/server/node_modules

# testing
/server/coverage

# production
/server/build

# misc
/server/.DS_Store
/server/.env
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*


